$innerWidth: calc(100vw - 20px);
$innerHeight: calc(100vh - 20px);

main {
  background: $bg2;
  // display: grid;
  // grid-template-rows: 2fr 1fr;
  height: 100vh;
  padding: 10px;
  .screen {
    background-color: $bg2Dark;
    padding: 10px;
    border-radius: 5px;
    overflow-y: scroll;
    margin: 10px 0;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    @include shadow();
    p {
      color: $white;
      padding: 5px;
      border-radius: 5px;
      background-color: $darkTransparent;
      margin: 2px;
      &:hover {
        transition: 0.5s ease-in;
        color: $bg2Dark;
        background: $white;
      }
    }
  }
  .workArea {
    textarea {
      // width: $innerWidth;
      height: 60vh;
      width: 100%;
      border-radius: 5px;
      border: none;
      background-color: $white;
      color: $black;
      padding: 10px;
      @include shadow();
    }
  }
  footer {
    input {
      margin: 3px;
      padding: 5px;
      border-radius: 3px;
      border: none;
    }
    button {
      color: $white;
      background-color: $otherColor1;
      border: none;
      padding: 5px;
      border-radius: 3px;
    }
    .options {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}

.toolBox {
  display: flex;
  flex-wrap: wrap;
  .eachToolBox {
    background: $darkTransparent;
    margin: 3px;
    border-radius: 5px;
    p {
      background: $black;
      color: white;
      padding: 3px;
      margin: 0;
    }
  }
  .numberInput {
    width: 40px;
  }
}
